.product-form { background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 8px; padding: 20px; max-width: 600px; margin: 0 auto; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
.product-form h2 { font-size: 1.8rem; margin-bottom: 20px; color: #333333; }
.product-form label { display: block; margin-bottom: 8px; font-weight: bold; color: #555555; }
.product-form input, .product-form textarea { width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #dddddd; border-radius: 5px; font-size: 16px; transition: border-color 0.3s ease; }
.product-form input:focus, .product-form textarea:focus { outline: none; border-color: #007bff; }
.product-form button { background-color: #007bff; color: #ffffff; border: none; padding: 12px 24px; border-radius: 5px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease; }
.product-form button:hover { background-color: #0056b3; }
.product-list-container { display: flex; justify-content: center; align-items: center; height: 100vh;  width: 100%;}
.product-table {width: 100%; ; max-width: 1000px; margin:  auto; border-collapse: collapse; }
.product-table th, .product-table td { padding: 8px; border: 1px solid #dddddd; text-align: center; }
.product-table th { background-color: #f2f2f2; }
.product-table img, .product-table video { max-width: 100%; height: auto; }

